.selectInputContainer {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.inputWrapper {
  select {
    padding: 10px 24px 10px 10px !important;
    height: 19px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
  }
}
