.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #323232;
  background: rgba(255, 255, 255, 0.87);
  min-height: 100%;
  width: 100%;
  z-index: 6;
}

.loadingIcon {
  width: 60px;
  height: 60px;
}

.loadingText {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
}
