.cardContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .cardActions button {
    display: none;
  }
  &:hover {
    .cardActions button {
      display: flex;
    }
  }
}

.cardContent {
  padding: 1rem 2rem !important;
}

.taskType {
  font-size: 1rem;
}

.address {
  font-size: 0.75rem !important;
  color: #555555;
}

.cardActions {
  padding: 0 !important;
  padding-right: 1rem !important;
  min-width: 44px;
}
