.container {
  margin-right: 10px;
  padding: 8px;
  width: 300px;
  background-color: #f5f5f6;
  border-radius: 3px;
}

.addButtonContainer {
  display: flex;
  align-items: center;
  color: #323232;
  cursor: pointer;
  border-radius: 3px;
  height: 36px;
  &:hover {
    opacity: 0.8;
  }
}

.dropEnabled {
  background-color: #e6fffc;
  border: 1px solid #555555;
}

.dropDisabled {
  background-color: #ffe6e8;
  border: 1px solid #555555;
}

.addNewCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  width: 140px;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1rem;
  display: block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #323232;
  background: #ffdd2d;
  height: 35px;
  border-radius: 3px;
  border: 3px solid #ffdd2d;
  text-transform: uppercase;
  &:hover {
    background-color: transparent;
  }
}
